<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/success}"
>
  <head>
    <title>Sorry</title>
  </head>

  <body>
    <div layout:fragment="content">
      <div id="error">
        <div class="error-page container">
          <div class="col-md-8 col-12 offset-md-2">
            <div class="text-center">
              <img
                class="img-error"
                th:src="@{/assets/images/samples/peringatan.png}"
                alt="Error"
                style="width: 20%"
              />
              <h4 class="error-title">
                <strong>Maaf</strong> Anda Sudah Mengisi Survey
              </h4>
              <p class="fs-5 text-gray-600">
                Silahkan menutup halaman survey ini.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
