<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 
>
  <head>
    <title>Fill Survey</title>
    <div th:replace="components/plugin :: css"></div>
    <style>
    
  #main {
    max-width: 100%; /* Mengatur lebar maksimum menjadi 100% */
    margin: 1cm 1cm; /* Mengatur margin horizontal agar div berada di tengah */
    padding: 2cm 2cm; /* Mengatur padding kiri dan kanan */
  }
  
  #code-text {
    font-size: small; /* Mengatur ukuran teks menjadi kecil */
    color: gray; /* Mengatur warna teks menjadi abu-abu */
  }

</style>

    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />

  </head>
  <body>
    <div layout:fragment="content">
      <div id="main">
        <header class="mb-1">
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header>

        <div class="page-heading">
          <div class="page-title">
            <div class="row">
              <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Survey Metrodata
                <div>
                  <span id="code-text" readonly th:text="|No : ${code}|"></span>
                </div>
              </h3>
                <form th:action="@{/survey/{code}(code=${code})}" th:method="POST">
                  <input type="hidden" id="code-input" name="code" th:value="${code}" />
              </div>
              <div class="col-12 col-md-2 order-md-2 order-first">
                <nav
                  aria-label="breadcrumb"
                  class="breadcrumb-header float-start float-lg-end"
                >                
                </nav>
              </div>
            </div>
          </div>
          <section id="multiple-column-form">
            <form th:action="@{/survey/}" th:method="POST" th:object="${survey}">
              <div class="row match-height">
                <div class="col-12">
                  <div class="card">

                    <div class="card-body">
                      <h4 class="card-title">
                        Client Name:
                        <span th:text="${name}" class="text-capitalize"></span>
                      </h4>
                      <h4 class="card-title">
                        Employee Name:
                        <span
                          th:text="${employee}"
                          class="text-capitalize"
                        ></span>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="section">
              <div class="row">
                <div
                  class="col-12"
                  th:each="section, sectionStatus : ${sections}"
                >
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">
                        <span th:text="${sectionStatus.index + 1}"></span>.
                        <span th:text="${section.name}"></span>
                      </h4>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12" th:each="question : ${questions}">
                          <div
                            th:if="${question.section.id} == ${section.id}"
                            class="form-group"
                          >
                            <label
                              th:for="${'question-' + question.id}"
                              th:text="${question.body}"
                            ></label>
                            <div th:if="${section.id == 1 || section.id == 2}">
                              <div class="rating">
                                <input
                                  type="radio"
                                  id="star1"
                                  th:name="${'question['+question.id+']'}"
                                  value="1"
                                />
                                <label for="star1" title="1 star">1</label>
                                <input
                                  type="radio"
                                  id="star2"
                                  th:name="${'question['+question.id+']'}"
                                  value="2"
                                />
                                <label for="star2" title="2 stars">2</label>
                                <input
                                  type="radio"
                                  id="star3"
                                  th:name="${'question['+question.id+']'}"
                                  value="3"
                                />
                                <label for="star3" title="3 stars">3</label>
                                <input
                                  type="radio"
                                  id="star4"
                                  th:name="${'question['+question.id+']'}"
                                  value="4"
                                />
                                <label for="star4" title="4 stars">4</label>
                                <input
                                  type="radio"
                                  id="star5"
                                  th:name="${'question['+question.id+']'}"
                                  value="5"
                                />
                                <label for="star5" title="5 stars">5</label>
                              </div>
                            </div>
                            <textarea
                              th:if="${section.id == 3}"
                              class="form-control"
                              rows="3"
                            ></textarea>
                            
                    <div class="card-header">
              
                    </div>
                    <div class="card-content">
                      <div class="card-body">
                        <form class="form">
                          <div class="row">
                            <div class="col-md-6 col-12">
                              <div class="form-group">
                                <label for="first-name-column"
                                  >Client Name</label
                                >
                                <input
                                  type="text"
                                  id="first-name-column"
                                  class="form-control"
                                  placeholder="Client Name"
                                  name="fname-column"
                                 
                                />
                              </div>
                            </div>
                            <div class="col-md-6 col-12">
                              <div class="form-group">
                                <label for="last-name-column">Employee Name</label>
                                <input
                                  type="text"
                                  id="last-name-column"
                                  class="form-control"
                                  placeholder="Last Name"
                                  name="lname-column"
                                />
                              </div>
                            </div>
                            
                            </div>
                            <div class="col-md-6 col-12">
                              <div class="form-group">
                                <label for="company-column">Employee ID</label>
                                <input
                                  type="text"
                                  id="company-column"
                                  class="form-control"
                                  name="company-column"
                                  placeholder="Company"
                                />
                              </div>
                            </div>
                            <div class="col-md-6 col-12">
                              <div class="form-group">
                                <label for="email-id-column">Email</label>
                                <input
                                  type="email"
                                  id="email-id-column"
                                  class="form-control"
                                  name="email-id-column"
                                  placeholder="Email"
                                />
                              </div>
                            </div>
                           
                            <div class="col-1 d-flex justify-content-end">
                              <h5>Survey Questions:</h5>
                            </div>
                            <div class="col-12">
                              <div class="form-group">
                                <label for="question1">Question 1</label><br>
                                <div class="rating">
                                  <input type="radio" id="star1" name="question1" value="1" />
                                  <label for="star1" title="1 star">1</label>
                                  <input type="radio" id="star2" name="question1" value="2" />
                                  <label for="star2" title="2 stars">2</label>
                                  <input type="radio" id="star3" name="question1" value="3" />
                                  <label for="star3" title="3 stars">3</label>
                                  <input type="radio" id="star4" name="question1" value="4" />
                                  <label for="star4" title="4 stars">4</label>
                                  <input type="radio" id="star5" name="question1" value="5" />
                                  <label for="star5" title="5 stars">5</label>
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-group">
                                <label for="question2">Question 2</label><br>
                                <div class="rating">
                                  <input type="radio" id="star6" name="question2" value="1" />
                                  <label for="star6" title="1 star">1</label>
                                  <input type="radio" id="star7" name="question2" value="2" />
                                  <label for="star7" title="2 stars">2</label>
                                  <input type="radio" id="star8" name="question2" value="3" />
                                  <label for="star8" title="3 stars">3</label>
                                  <input type="radio" id="star9" name="question2" value="4" />
                                  <label for="star9" title="4 stars">4</label>
                                  <input type="radio" id="star10" name="question2" value="5" />
                                  <label for="star10" title="5 stars">5</label>
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-group">
                                <label for="question3">Question 3</label><br>
                                <div class="rating">
                                  <input type="radio" id="star11" name="question3" value="1" />
                                  <label for="star11" title="1 star">1</label>
                                  <input type="radio" id="star12" name="question3" value="2" />
                                  <label for="star12" title="2 stars">2</label>
                                  <input type="radio" id="star13" name="question3" value="3" />
                                  <label for="star13" title="3 stars">3</label>
                                  <input type="radio" id="star14" name="question3" value="4" />
                                  <label for="star14" title="4 stars">4</label>
                                  <input type="radio" id="star15" name="question3" value="5" />
                                  <label for="star15" title="5 stars">5</label>
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-group">
                                <label for="question4">Question 4</label><br>
                                <div class="rating">
                                  <input type="radio" id="star16" name="question4" value="1" />
                                  <label for="star16" title="1 star">1</label>
                                  <input type="radio" id="star17" name="question4" value="2" />
                                  <label for="star17" title="2 stars">2</label>
                                  <input type="radio" id="star18" name="question4" value="3" />
                                  <label for="star18" title="3 stars">3</label>
                                  <input type="radio" id="star19" name="question4" value="4" />
                                  <label for="star19" title="4 stars">4</label>
                                  <input type="radio" id="star20" name="question4" value="5" />
                                  <label for="star20" title="5 stars">5</label>
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-group">
                                <label for="question5">Question 5</label><br>
                                <div class="rating">
                                  <input type="radio" id="star21" name="question5" value="1" />
                                  <label for="star21" title="1 star">1</label>
                                  <input type="radio" id="star22" name="question5" value="2" />
                                  <label for="star22" title="2 stars">2</label>
                                  <input type="radio" id="star23" name="question5" value="3" />
                                  <label for="star23" title="3 stars">3</label>
                                  <input type="radio" id="star24" name="question5" value="4" />
                                  <label for="star24" title="4 stars">4</label>
                                  <input type="radio" id="star25" name="question5" value="5" />
                                  <label for="star25" title="5 stars">5</label>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                              <button
                                type="submit"
                                class="btn btn-primary me-1 mb-1"
                              >
                                Submit
                              </button>
                              <button
                                type="reset"
                                class="btn btn-light-secondary me-1 mb-1"
                              >
                                Reset
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
