<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <head>
    <title>Survey</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div id="main">
        <header class="mb-3">
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header>

        <div class="page-heading">
          <div class="page-title">
            <div class="row">
              <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Survey Page</h3>
              </div>
              <div class="col-12 col-md-6 order-md-2 order-first">
                <nav
                  aria-label="breadcrumb"
                  class="breadcrumb-header float-start float-lg-end"
                >
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Survey
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>

          <!-- Basic Tables start -->
          <section class="section">
            <div class="card">
              <div class="card-body">
                <table class="table" id="table-survey">
                  <thead>
                    <tr>
                      <th class="col-1">Id</th>
                      <th class="col-2">Name</th>
                      <th class="col-4">Code</th>
                      <th class="col-2">Expired</th>
                      <th class="col-2">Status</th>
                      <th class="col-1">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="survey : ${survey}">
                      <td th:text="${survey.id}"></td>
                      <td th:text="${survey.name}"></td>
                      <td th:text="${survey.code}"></td>
                      <td th:text="${survey.expired}"></td>
                      <td class="d-flex align-items-center gap-3">
                        <a
                          th:href="@{/survey/update/{id} (id = ${survey.id}) }"
                          class="btn btn-success"
                          ><i class="fa-sharp fa-solid fa-edit"></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
          <!-- Basic Tables end -->

          <!-- Modal Create Survey -->
          <div
            class="modal fade"
            id="createSurvey"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title fw-bold" id="staticBackdropLabel">
                    Create Survey
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    <i data-feather="x"></i>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="crt-survey-name" class="form-label"
                      >Survey Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="crt-survey-name"
                      required
                    />
                    <span class="invalid-feedback"
                      >Survey name is required.</span
                    >
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    <i class="fa-solid fa-xmark"></i> Close
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    onclick="create()"
                  >
                    <i class="fa-solid fa-plus"></i> Submit
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Update Survey -->
          <div
            class="modal fade"
            id="updateSurvey"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title fw-bold" id="staticBackdropLabel">
                    Update Survey
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="upd-survey-name" class="form-label"
                      >Survey Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="upd-survey-name"
                      required
                    />
                    <span class="invalid-feedback"
                      >Survey name is required.</span
                    >
                    <input type="hidden" id="upd-survey-id" />
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    <i class="fa-solid fa-xmark"></i> Close
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    onclick="update()"
                  >
                    <i class="fa-solid fa-plus"></i> Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Survey JS -->
    <div layout:fragment="script">
      <script th:src="@{/js/survey.js}"></script>
    </div>
  </body>
</html>
