<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <head>
    <title>Client</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div id="main">
        <header class="mb-3">
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header>

        <div class="page-heading">
          <div class="page-title">
            <div class="row">
              <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Client Page</h3>
              </div>
              <div class="col-12 col-md-6 order-md-2 order-first">
                <nav
                  aria-label="breadcrumb"
                  class="breadcrumb-header float-start float-lg-end"
                >
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Client
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>

          <!-- Basic Tables start -->
          <section class="section">
            <div class="card">
              <div class="card-header">
                <button
                  type="button"
                  class="btn btn-primary float-end"
                  data-bs-toggle="modal"
                  data-bs-target="#createClient"
                >
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
              <div class="card-body">
                <table class="table" id="table-client">
                  <thead>
                    <tr>
                      <th class="col-1">No</th>
                      <th class="col-4">Name</th>
                      <th class="col-4">Email</th>
                      <th class="col-2">Location</th>
                      <th class="col-1">Action</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </section>
          <!-- Basic Tables end -->
        </div>
      </div>

      <!-- Modal Create Client -->
      <div
        class="modal fade"
        id="createClient"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title fw-bold" id="staticBackdropLabel">
                Create Client
              </h5>
              <button
                type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <i data-feather="x"></i>
              </button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="crt-client-name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="crt-client-name"
                  required
                />
                <span class="invalid-feedback">Name is required.</span>
              </div>
              <div class="mb-3">
                <label for="crt-client-email" class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="crt-client-email"
                  required
                />
                <span class="invalid-feedback">Email is required.</span>
              </div>
              <div class="mb-3">
                <label for="crt-client-location" class="form-label"
                  >Location</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="crt-client-location"
                  required
                />
                <span class="invalid-feedback">Location is required.</span>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                <i class="fa-solid fa-xmark"></i> Close
              </button>
              <button type="button" class="btn btn-primary" onclick="create()">
                <i class="fa-solid fa-plus"></i> Submit
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Update Client -->
      <div
        class="modal fade"
        id="updateClient"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title fw-bold" id="staticBackdropLabel">
                Update Client
              </h5>
              <button
                type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <i data-feather="x"></i>
              </button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="upd-client-name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="upd-client-name"
                  required
                />
                <span class="invalid-feedback">Name is required.</span>
                <input type="hidden" id="upd-client-id" />
              </div>
              <div class="mb-3">
                <label for="upd-client-email" class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="upd-client-email"
                  required
                />
                <span class="invalid-feedback">Email is required.</span>
              </div>
              <div class="mb-3">
                <label for="upd-client-location" class="form-label"
                  >Location</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="upd-client-location"
                  required
                />
                <span class="invalid-feedback">Location is required.</span>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                <i class="fa-solid fa-xmark"></i> Close
              </button>
              <button type="button" class="btn btn-primary" onclick="update()">
                <i class="fa-solid fa-plus"></i> Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Client JS -->
    <div layout:fragment="script">
      <script th:src="@{/js/client.js}"></script>
    </div>
  </body>
</html>
